@font-face {
  font-family: k;
  src: url("../fonts/k.otf") format("opentype");
}

body {
  font-family: k, arial, helvetica;
  color: rgba(255, 255, 255, 0.8);
  background-color: #222;
}

h1 {
  font-size: 4vw;
}

p {
  font-size: 2.5vw;
  line-height: 200%;
}

section * {
  text-align: center;
  position:   relative;
}

div.panel {
  background-color: rgba(255, 255, 255, 0.2);
  width:            50%;
  text-align:       center;
  margin:           30% auto auto;
  padding:          0.5em;
}

#fp-nav.right {
  right: 1%;
}

#fp-nav ul li, .fp-slidesNav ul li {
  display:  block;
  width:    14px;
  height:   13px;
  margin:   7px;
  position: relative;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #777;
}

.section1  { background: url('../images/IMG_0392.jpg') no-repeat center / 85% auto }
.section2  { background: url('../images/DSCF3381.jpg') no-repeat center / 85% auto }
.section3  { background: url('../images/DSCF3390.jpg') no-repeat center / 85% auto }
.section4  { background: url('../images/IMG_0205.jpg') no-repeat center / 85% auto }
.section5  { background: url('../images/DSCF3421.jpg') no-repeat center / 85% auto }
.section6  { background: url('../images/DSCF3543.jpg') no-repeat center / 85% auto }
.section7  { background: url('../images/IMG_0240.jpg') no-repeat center / 85% auto }
.section8  { background: url('../images/IMG_0246.jpg') no-repeat center / 85% auto }
.section9  { background: url('../images/IMG_0304.jpg') no-repeat center / 85% auto }
.section10 { background: url('../images/IMG_0331.jpg') no-repeat center / 85% auto }
.section11 { background: url('../images/DSCF3598.jpg') no-repeat center / 85% auto }
.section12 { background: url('../images/IMG_0377.jpg') no-repeat center / 85% auto }
.section13 { background: url('../images/IMG_0394.jpg') no-repeat center / 85% auto }

