@font-face {
  font-family: k;
  src: url("../fonts/k-small.otf") format("opentype");
}

body {
  font-family: k, arial, helvetica;
  color: rgba(255, 255, 255, 0.8);
  background-color: #222;
}

h1 {
  font-size: 4vw;
}

p {
  font-size: 2.5vw;
  line-height: 200%;
}

section * {
  text-align: center;
  position:   relative;
}

div.panel {
  background-color: rgba(255, 255, 255, 0.2);
  width:            50%;
  text-align:       center;
  margin:           30% auto auto;
  padding:          0.5em;
}

#fp-nav.right {
  right: 1%;
}

#fp-nav ul li, .fp-slidesNav ul li {
  display:  block;
  width:    14px;
  height:   13px;
  margin:   7px;
  position: relative;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #777;
}

section {
  background-size:     85% auto;
  background-repeat:   no-repeat;
  background-position: center;
}

